div.css-12w0qpk.e1tzin5v2{
    background-color: #d6f065;
    border: 1PX #02070f;
    padding: 1px 1px 1px 4px;
    border-radius: 10px;
    /* padding: 5% 5% 5% 7%; */
    text-align: center;
}

/* div.css-18e3th9.egzxvld2{
    background-color: antiquewhite;
    background-image: 'Task\analytics-solutions.jpg';

} */

div.css-6qob1r.e1fqkh3o3{
    background-color:#b1f0af;

}

/* div.css-18ni7ap.e8zbici2{
    background-color:#02070f;

} */

div.css-1r6slb0.e1tzin5v2 {
    background-color: #b1f0af;
    border: 1PX #02070f;
    padding: 20px 20px 20px 20px; 
    /* padding: 5% 5% 5% 7%; */
    border-radius: 20px;
    text-align: center;
} 

div.css-keje6w.e1tzin5v2 {
    background-color: #cfe8eb;
    padding: 20px 20px 20px 20px;
    text-align: center;
    /* padding: 5% 5% 5% 10%; */
    border-radius: 10px;
}

div.css-keje6w.e1tzin5v2 {
    background-color: #cfe8eb;
    padding: 20px 20px 20px 20px;
    text-align: center;
    /* padding: 5% 5% 5% 10%; */
    border-radius: 10px;
}


